/* ====== Reset e configurações gerais ====== */
html{
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rosybrown;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* ====== Estrutura principal ====== */
header{
    width: 100%;
    background-color:  rosybrown;
    text-align: center;
    color: white;
    border: 3px solid lightpink;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 70rem;
    min-height: 100vh;
    align-self: center;
    padding: 0.3rem 1.5rem;
    color: rosybrown;
    background-color: black;
    border: 2px solid black;
    border-radius: 1rem;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:rgba(207, 139, 139, 0.501);
    border: 3px solid lightpink;
}

/* ====== Elementos gerais ====== */
img{
    max-width: 100%;
}

a{
  text-decoration: underline;
  color: inherit; 
}

hr{
    border: 1px solid lightpink;
    width: 100%; 
    margin: 1rem 0;
    box-sizing: border-box;
}

section{
    padding: 1rem 0.5rem;
}

p{
    text-align: justify;
    color: aliceblue;
}

a, p{
    overflow-wrap: break-word;
}

li{
    color: aliceblue;
    text-align: justify;
    margin: 2px;
}

figcaption{
    font-size: 0.8rem;

}

/* ====== Estilização de elementos específicos ====== */
mark{
   background-color:antiquewhite;
   border-radius: 0.3rem;
   padding-right: 3px;
   padding-left: 3px;
   padding-bottom: 0.2px;
   padding-top: 0.2px;
}

code{
    font-size: 1rem;
    background-color: rgba(128, 128, 128, 0.389);
    border-radius: 0.3rem;
}

.paragFooter{
    color: black;
    padding: 0.8rem 1rem;
    text-align: center;
    font-weight: bold;
    
}

/* ====== Responsividade ====== */

/* Celulares muito pequenos (até 320px) */
@media (max-width: 320px){
     h1{
        font-size: 1.3rem;
    }

     li,p, code, mark{
        font-size: 0.7rem;
    }

}

/* Celulares padrão (até 425px) */
@media (max-width: 425px){
    h1{
        font-size: 1.5rem;
    }

    h2{
        font-size: 1.1rem;
    }

    li,p,code,mark {
        font-size: 0.8rem;
    }

    section{
        margin: 0;
    }

    .hidden{
        display: none;
    }

}

/* Tablets (até 768px) */
@media (max-width: 768px){
    h1{
        font-size: 1.5rem;
    }

}
