

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rosybrown;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header{
    width: 100%;
    background-color:  rosybrown;
    text-align: center;
    color: white;
    border: 3px solid lightpink;
}

main{
    display: flex;
    flex-direction: column;
    width: 70rem;
    min-height: 100vh;
    align-self: center;
    padding: 1rem 2rem;
    color: rosybrown;
    background-color: black;
    border: 2px solid black;
    border-radius: 1rem;

   
}


a{
  text-decoration: underline;
  color: inherit; 
}

p{
    text-align: justify;
    color: aliceblue;
}

mark{
   background-color:antiquewhite;
   border-radius: 0.3rem;
   padding-right: 3px;
   padding-left: 3px;
   padding-bottom: 0.2px;
   padding-top: 0.2px;
}

code{
    font-size: 1rem;
    background-color: rgba(128, 128, 128, 0.389);
    border-radius: 0.3rem;
}

li{
    color: aliceblue;
    text-align: justify;
    margin: 2px;
}

figcaption{
    font-size: 0.8rem;

}
