body{
    color: rosybrown;
    background-color: black;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a{
  text-decoration: underline;
  color: inherit; 
}



p{
    text-align: justify;
    color: aliceblue;
}

mark{
   background-color:antiquewhite;
   border-radius: 0.3rem;
   padding-right: 3px;
   padding-left: 3px;
   padding-bottom: 0.2px;
   padding-top: 0.2px;
}

code{
    font-size: 1rem;
    background-color: rgba(128, 128, 128, 0.389);
    border-radius: 0.3rem;
}

li{
    color: aliceblue;
    text-align: justify;
    margin: 2px;
}

figcaption{
    font-size: 0.8rem;

}
